* {
	font-family: sans-serif;
}

.navbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px;
}

.navbar-right {
	margin-left: auto;
}

.navbar-user {
	margin-right: 30px;
}

.navbar-btn {
	border-radius:40px;
	padding: 10px 30px;
	font-weight: bold;
	cursor: pointer;
	border: 1px solid #ccc;
	outline:none;
	background-color: #ccc;
}

.navbar-btn:hover {
	background-color: transparent;
	color: #ccc;
	border: 1px solid #ccc

}
  
.main {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "graph controls"
						 "history prices";
	grid-gap: 10px;
	/* 80px - navbar 
	   16px - body margin 
	   5px - grid gap (50%) */
	height: calc(100vh - 101px); 
} 

.graph {
	grid-area: graph;
}

.controls {
	grid-area: controls;
}

.history {
	grid-area: history;
}

.prices {
	grid-area: prices;
}

.controls, .history, .prices {
	border: 1px solid #ccc;
	padding: 10px 20px;
}

table {
	width: 100%;
	table-layout: fixed;
	text-align: center;
}

table td {
	padding: 10px;
}

.history {
	overflow: auto;
}

body {
	background-color: #2C3E50;
	color: #ccc;
}
	
}
