* {
	font-family: sans-serif;
}

.navbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px;
}

.navbar-right {
	margin-left: auto;
}

.navbar-user {
	margin-right: 30px;
}

.navbar-btn {
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius:40px;
	padding: 10px 30px;
	font-weight: bold;
	cursor: pointer;
	background:transparent;
	border:0;
	outline:none;
}

table {
  width: 50%;
  border: 2px solid;
}

table {
  border-collapse: collapse;
  width: 50%;
}

th, td {
  padding: 15px;
}
  
 